<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add connectionString="Data Source=LAPTOP-O1V03MPK\SQLEXPRESS;Initial Catalog=YumSupplyBeta0;Integrated Security=True" name="MyCon" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  
    <sessionState timeout="20" /> <!--Session Timout-->
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
      <!-- Disabling Validation Error 
    WebForms UnobtrusiveValidationMode requires a ScriptResourceMapping for 'jquery'.-->
  </appSettings>
</configuration>
